ul {
  padding-left: 0;
}

.videos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  /* padding: 10px; */
  padding-top: 0.5em;
}

@media screen and (max-width: 768px) {
  .videos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
  }
}
