.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.input {
  background-color: white;
  height: 100%;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
}

.button {
  background-color: rgb(74, 74, 74);
  height: 100%;
  width: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  text-align: center;
}

.icon {
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
